!!! 5
%html
  %head
    %title
      =title
      
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = javascript_include_tag "bootstrap-twipsy.js", "bootstrap-popover.js"  
  = csrf_meta_tags
  
  %body
    = yield